@font-face {
    font-family: Barmeno-Bold;
    src: url('../../whatever-suits-you.otf');
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    box-shadow: 3px 6px #008457;
    -webkit-box-shadow: 2px 2px 3px 0px #008457;
    background-color: rgba(86, 86, 86, 0.5);
    font-family: Barmeno-Bold;
    width: 250px;
}

.edit {
    border: solid black 1px;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 5px;
    color: black;
    background-color: rgb(236, 236, 236);
    text-decoration: none;
    font-size: 1.2rem;
}

.delete {
    border: solid black 1px;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 5px;
    font-family: Barmeno-Bold;
    font-size: 1.2rem;
}

h3 {
    font-size: 2rem;
}

p {
    padding: 2px 5px;
}

.input {
    border: solid black 1px;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 5px;
    font-family: Barmeno-Bold;
    font-size: 1.2rem; 
}

.add {
    border: solid black 1px;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 5px;
    font-family: Barmeno-Bold;
    font-size: 1.2rem; 
}

/* p:hover, h1:hover, a:hover {
    background-color: yellow;
    
  } */

.title {
    font-family: Barmeno-Bold;
    font-size: 1.2rem; 
}

.description {
    font-family: Barmeno-Bold;
    font-size: 1.2rem; 
}

p:hover {
    animation: smoke .001s linear forwards;
}


@keyframes smoke {
    100% {
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        filter:blur(1px);
    }
    0% {
      transform: rotate(-90deg) translateY(-200px);
        opacity: 0;
        filter:blur(20px);
    }
}


/* eggshell rgb(240, 234, 214) */